---
// Layouts
import Layout from "../layouts/Layout.astro";
import Container from "../layouts/Container.astro";

// Components
import Image from "../components/Image.astro";
import Text from "../components/Text.astro";
---

<Layout title="Ramb Memburg">
	<Container>
		<Image
			src="/media/room.png"
			alt="My room made in MagicaVoxel"
		/>

		<Text title="Experience">
			<h3>P\S\L Group <span>(jun 2021/today)</span></h3>
			<p>Currently working on the automation of Quality Assurance processes in the company for projects related to the pharmaceutical industry and education.</p>

			<h3>Deloitte <span>(feb 2020/jun 2021)</span></h3>
			<p>Worked for an American multinational mass media and entertainment conglomerate client designing and automating use cases in order to improve the efficiency of the quality assurance processes.</p>
		</Text>
	</Container>
</Layout>
