---
import Layout from "../layouts/Layout.astro";
import Container from "../layouts/Container.astro";
import Image from "../components/Image.astro";
---

<Layout title="Ramb Memburg | Software Engineer">
	<Container>
		<Image
			src="/favicon.svg"
			alt="An image of a 3D model made in MagicaVoxel"/>
		<div>Text #2</div>
	</Container>
</Layout>

<style>
	:root {
	}
</style>
