---
import Layout from "../layouts/Layout.astro";
import Container from "../layouts/Container.astro";
import Image from "../components/Image.astro";
import Text from "../components/Text.astro";
// import Work from "../components/Work.astro";

const baseURL: string = "https://github.com/memburg/";
---

<Layout title="Ramb Memburg">
  <Container>
    <Image src="../media/gameboy.webp" alt="My room made in MagicaVoxel" />

    <Text title="Work">
      <h3>
        金吾 (Kingo) <a href={`${baseURL}kingo`} target="_blank">github</a>
      </h3>
      <p>
        A REST API test framework written in TypeScript that allows developers
        and QA engineers to build and organize Postman collections and have
        version control for scripts without paying for this feature.
      </p>

      <h3>Erebus <a href={`${baseURL}erebus`} target="_blank">github</a></h3>
      <p>
        Erebus is an image encryption tool written in MATLAB to help you protect
        yourself on the Internet. The algorithm works by generating a random key
        that will be used for encryption and decryption (without the key it is
        virtually impossible to decrypt an Erebus-encrypted image).
      </p>
    </Text>
  </Container>
  <!-- <div class="container">
        <Work containerPosition="bottom right">
        </Work>

        <Work containerPosition="bottom left">
        </Work>

        <Work containerPosition="top right">
        </Work>

        <Work containerPosition="top left">
        </Work>
    </div> -->
</Layout>

<style>
  .container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    position: relative;
  }
</style>
