<style>
    header {
        height: 55px;
        border: 1px solid black;

        table {
            height: inherit;
            border: 1px solid white;
            background-color: red;

            table-layout: fixed;

            td {
                border: 1px solid green;
                text-align: center;
            }
        }
    }
</style>

<header>
    <table>
        <tr>
            <td>Ramb Memburg</td>
            <td>Bio</td>
            <td>Experience</td>
            <td>Projects</td>
            <td>Interests</td>
        </tr>
    </table>
</header>