---
export interface Props {
    pseudonym: string;
    role: string;
}

const { pseudonym, role } = Astro.props;
---

<div>
    <h1>{pseudonym}</h1>
    <h3>{role}</h3>
</div>

<style>
    div {
        width: 100%;
        height: fit-content;
        align-self: center;
        animation: fadeIn 2s;
    }

    h1 {
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 5px;
        color: #141414;
        font-size: 7rem;
    }

    h3 {
        font-family: 'Herr Von Muellerhoff', cursive;
        letter-spacing: 1.5rem;
        color: #272727;
        font-size: 2.5rem;
    }

    h1,
    h3 {
        text-align: center;
    }

    @media (orientation: portrait) {
        h1 {
            letter-spacing: 2px;
            font-size: 5rem;
        }

        h3 {
            letter-spacing: 1rem;
        }
    }
</style>
