<style>
    nav {
        height: 56px;
        width: 100%;
        max-width: 100%;

        & table {
            margin: 0 auto;
            width: 100%;
            max-width: 540px;
            height: inherit;
            table-layout: fixed;

            & td {
                text-align: center;
                font-size: 14px;

                & a {
                    text-decoration: none;
                    color: rgb(255, 239, 251);
                }

                & a:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }

                & a:active {
                    color: rgb(255, 216, 245);
                }

                & a:visited {
                    text-decoration: none;
                }
            }
        }
    }
</style>

<nav>
    <table>
        <tbody>
            <tr>
                <td><a href="/">Ramb Memburg</a></td>
                <td><a href="#">Bio</a></td>
                <td><a href="#">Experience</a></td>
                <td><a href="#">Projects</a></td>
                <td><a href="#">Contact</a></td>
            </tr>
        </tbody>
    </table>
</nav>