---
export interface Props {
    title: string;
    d: string;
    url: string;
}

const { title, d, url } = Astro.props;
---

<a href={url} target="_blank">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
    >
        <title>{title}</title>
        <path d={d}></path>
        <slot />
    </svg>
</a>

<style>
    :root {
        --colour-svg: rgb(46, 46, 46);
        --colour-svg-hover: rgb(170, 130, 130);
    }

    a {
        color: inherit;
        text-decoration: none;
        transition: color 500ms;
    }

    a:hover {
        color: var(--colour-svg-hover) !important;
    }

    a:visited {
        text-decoration: none;
        color: inherit;
    }

    svg {
        width: 25px;
        height: 25px;
    }
</style>
