---
export interface Props {
    title: string;
    d: string;
    user: string;
}

const { title, d, user } = Astro.props;
---

<a href="https://github.com/memburg" target="_blank">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
    >
        <title>{title}</title>
        <path d={d}></path>
        <slot />
    </svg>

    {user}
</a>

<style>
    a {
        color: red;
        font-size: 2rem;
        text-decoration: none;
        width: fit-content;
    }

    svg {
        width: 20px;
        height: 20px;
    }
</style>
