@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

body {
    /* center body */
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    background-color: rgb(32, 32, 35);
    font-family: 'Inconsolata', monospace;
}