---
// To be added if needed
---

<div class="container">
    <slot />
</div>

<style>
    .container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        transition: opacity 1s ease;
    }
</style>
