<div class="container">
    <slot />
</div>

<style>
    .container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        position: relative;
    }

    @media (orientation: portrait) {
        .container {
            grid-auto-flow: dense;
            grid-template-columns: none;
            grid-template-rows: repeat(2, 1fr);
            gap: 0;
        }
    }
</style>
