---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	* {
		margin: 0;
		padding: 0;
		display: block;
	}

	:root {
		--colour-bg: #dfcdcd;
		--viewport-max-height: 100%;
		--viewport-max-width: 1200px;
	}

	html,
	body {
		/* Height setup */
		height: var(--viewport-max-height);
		max-height: var(--viewport-max-height);

		/* Width setup */
		width: var(--viewport-max-width);
		max-width: var(--viewport-max-width);

		/* Background setup */
		background-color: var(--colour-bg);

		/* Center content */
		margin: 0 auto;
	}
</style>

<style is:global>

</style>